.tutorials-Exception {
  padding-top: 30px;
  padding-bottom: 100px;

  .pictured {
    .message {
      .tricky {
        display: flex;
        align-items: center;
        gap: 20px;

        .zoom {
          position: relative;
          margin-top: 10px;
          border: 1px solid #00000044;
          overflow: hidden;

          .drawing {
            position: absolute;
            top: -940px;
            left: -940px;
          }
        }
      }
    }

    .picture {
      z-index: -1;
    }
  }
}
