.tutorials-Rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  .table {
    margin-bottom: 0.5em;
    max-height: 200px;
    overflow: hidden;
    transition: 0.3s;

    &.active {
      max-height: 730px;
    }

    img {
      max-width: 100%;
    }
  }
}
