@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  font-family: inherit;
}
