.solutions-Canvas {
  position: relative;

  .covering {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ff8888;
    border-radius: 50%;
    background-color: #ffcccc88;
    pointer-events: none;
  }

  .result {
    position: absolute;
    right: -40px;
    bottom: -40px;

    &.correct {
      opacity: 0.3;
    }

    &:not(.correct) {
      color: #f80;
    }
  }
}
