.solutions-Drawing {
  position: absolute;

  &.area,
  &.circle {
    .value {
      position: absolute;
      font-size: 12px;
      white-space: nowrap;
      transition: 0.3s;
      user-select: none;
      pointer-events: none;
    }

    &:not(:hover) {
      .value {
        opacity: 0;
      }
    }
  }

  &.area {
    background-color: #ffccff88;

    &::before,
    &::after {
      position: absolute;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
      border: 1px solid #00ffcc;
      border-radius: 5px;
      background-color: #00ffcc88;
      display: block;
      content: "";
    }

    &::before {
      left: -5px;
      top: -5px;
    }

    .value {
      left: 10%;
      top: 10%;
    }

    &::after {
      right: -5px;
      bottom: -5px;
    }
  }

  &.circle {
    box-sizing: border-box;
    border: 1px solid #ffffcc;
    border-radius: 50%;
    background-color: #ffffcc88;

    .value {
      left: 30%;
      top: 30%;
    }
  }
}
