.travels-Travel {
  position: relative;

  .step {
    position: absolute;
    padding: 3px;
    opacity: 0.6;

    &::before,
    &::after {
      position: absolute;
      left: -4px;
      top: -1px;
      width: 8px;
      height: 2px;
      background-color: #000;
      display: block;
      content: "";
    }

    &.cornerEnd {
      color: #48f;

      &::before,
      &::after {
        background-color: #48f;
      }
    }

    &.leftEnd,
    &.bottomEnd {
      color: #f44;

      &::before,
      &::after {
        background-color: #f44;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &.rightLine {
      top: 0;
    }
  }
}
